<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th>User id</th>
      <th>Articles id</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.author %></td>
        <td><%= article.user_id %></td>
        <td><%= article.id %></td>
        <td><%= link_to 'Show', article %></td>
        <% if user_signed_in? %>
          <%-# if article.user_id == current_user.id -%>
            <td><%= link_to 'Edit', edit_article_path(article) %></td>
            <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%-# end -%>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Article', new_article_path %> -->
