<div class="container-fluid p-0" style="max-width: 800px">
  <div class="d-flex flex-column" style="padding-top: 40px">
    <div class="d-flex justify-content-left">
      <div class="article-title">
        <%= @article.title %>
      </div>
      <div class="bookmarking p-2">
        <%= render 'layouts/bookmark', article: @article %>
      </div>
      <div>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-primary" %>
        <% end %>
      </div>
    </div>
    <div class="article-subtitle">
      <%= @article.sub_title %>
    </div>
    <div class="d-flex align-items-center">
      <%= render 'author' %> <!-- modal rendering the avatar, the name, workplace and follow button of the author -->
    </div>
    <div class="article-body">
      <%= @article.body.html_safe %>
    </div>
  </div>
  
  <div class="d-flex flex-row justify-content-between align-items-center">
    <%= render 'author' %> <!-- modal rendering the avatar, the name, workplace and follow button of the author -->
    <div class="voting d-flex">
      <% if user_signed_in? %>
        <% if current_user.liked? @article, vote_scope: 'praise' %>
          <div class="praise-count">
            <%= @article.find_votes_for(:vote_scope => "praise").size.to_s %>
          </div>
          <div class="unfavorite-article-<%= @article.id %>">
            <%= link_to downvote_article_path(@article), remote: true, method: :put do %>
              <i class="material-icons">favorite</i>
            <% end %>
          </div>
          <div class="favorite-article-<%= @article.id %>" style="display: none;">
            <%= link_to upvote_article_path(@article), remote: true, method: :put do %>
              <i class="material-icons">favorite_border</i>
            <% end %>
          </div>
        <% else %>
          <div class="praise-count">
            <%= @article.find_votes_for(:vote_scope => "praise").size.to_s %>
          </div>
          <div class="favorite-article-<%= @article.id %>">
            <%= link_to upvote_article_path(@article), remote: true, method: :put do %>
              <i class="material-icons">favorite_border</i>
            <% end %>
          </div>
          <div class="unfavorite-article-<%= @article.id %>" style="display: none;">
            <%= link_to downvote_article_path(@article), remote: true, method: :put do %>
              <i class="material-icons">favorite</i>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="praise-count"><%= @article.find_votes_for(:vote_scope => 'praise').size.to_s %></div>
        <%= link_to "", data: {toggle: "modal", target: "#modalSignup"} do %>
          <i class="material-icons">favorite</i>
        <% end %>
        <%= render 'layouts/modal_signup' %>
      <% end %>
    </div>
  </div> 
  <br></br>
  <section>
    <% if user_signed_in? %>
      <div>
        <%= render 'form_comment' %>
      </div>
    <% end %>
    <div class="form-inline">
      <i class="material-icons md-36 p-1">comment</i><div class="section-title">Comments (<%= comment_count(@article) %>)</div> 
    </div>
    <%= render(partial: 'comments/comment', collection: @article.comments) %>
  </section>
</div>
