<section class="container" style="max-width: 800px; padding-top: 80px">
  <div class="row pt-3 pb-3">
    <div class="col-sm-auto">
      <%= render 'layouts/user_avatar', user: @user, size: 130 %>
    </div>
    <div class="col-sm">
      <div class="author-profile"><%= @user.full_name %></div>
      <div class="author-wp-profile"><%= @user.headline %></div>
      <div class="author-wp-profile"><%= @user.work_place %></div>
      <div>
        <% if @user.linkedin != "" %>
          <%= link_to "https://#{@user.linkedin}", :target => "_blank" do %>
            <i class="mdi mdi-linkedin-box md-28"></i>
          <% end %>
        <% end %>
      <div class="row align-items-center pt-1">
        <% if user_signed_in? %>
          <% unless current_user == @user %>
            <% if current_user.voted_for? @user, vote_scope: 'following' %>
              <div class="col-sm-auto follow-profile pt-1 unfollow-button">
                <%= link_to "Following", unfollow_user_path(@user), remote: true, class:"btn btn-info", method: :put %>
              </div>
              <div class="col-sm-auto follow-profile pt-1 follow-button" style="display:none">
                <%= link_to "Follow", follow_user_path(@user), remote: true, class:"btn btn-outline-info", method: :put %>
              </div>
            <% else %>
              <div class="col-sm-auto follow-profile pt-1 follow-button">
                <%= link_to "Follow", follow_user_path(@user), remote: true, class:"btn btn-outline-info", method: :put %>
              </div>
              <div class="col-sm-auto follow-profile pt-1 unfollow-button" style="display:none">
                <%= link_to "Following", unfollow_user_path(@user), remote: true, class:"btn btn-info", method: :put %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="col-sm-auto follow-profile pt-1">
          <%= link_to "", data: {toggle: "modal", target: "#modalSignup"} do %>
            <button type="button" class="btn btn-sm btn-outline-info">Follow</button>
          <% end %>
          </div>
          <%= render 'layouts/modal_signup' %>
        <% end %>
        <div class="col-md follow-profile pt-1">
          <strong><%= @user.find_votes_for(:vote_scope => 'following').size %></strong>
          <%=  "follower".pluralize(@user.find_votes_for(:vote_scope => 'following').size) %> -
          <strong><%= @user.find_voted_items(:vote_scope => 'following').size %></strong> following
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" style="max-width: 800px" data-target="#navbar-example2">
  <% art_size = @articles.where(user_id: @user.id).count %>
  <% com_size = @comments.where(user_id: @user.id).count %>
  <% fav_size = @user.find_voted_items(:vote_scope => 'praise').size %>
  <% fol_size = @user.find_voted_items(:vote_scope => 'following').size %>
  <% followers_size = @user.find_votes_for(:vote_scope => 'following').size %>
  
  <% if art_size == 0 and com_size == 0 and fav_size == 0 && fol_size == 0 %>
    <div class="d-flex flex-row pt-4 pb-2 mb-4" style="border-bottom: 1px solid #e9e9e9">
      <div class="author-sm" style="color: #d9d9d9">No articles, comments, favorites and following yet.</div>
    </div>
  <% else %>
    
    <div class="d-flex flex-row pl-1 pt-4 pb-2 mb-4" style="border-bottom: 1px solid #e9e9e9; overflow: auto">
      <% if art_size != 0 %>
        <button id="articles-button" type="button" class="btn btn-cat btn-sm btn-outline-info active mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">description</i><%= "Article".pluralize(art_size) %> (<%= art_size %>)
        </button>
      <% else %>
        <button id="articles-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2" disabled>
          <i class="material-icons pr-1" style="vertical-align: text-bottom">description</i><%= "Article".pluralize(art_size) %> (<%= art_size %>)
        </button>
      <% end %>
      
      <% if com_size != 0 and art_size == 0 %>
        <button id="comments-button" type="button" class="btn btn-cat btn-sm btn-outline-info active mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">comment</i><%= "Comment".pluralize(com_size) %> (<%= com_size %>)
        </button>
      <% elsif com_size != 0 %>
         <button id="comments-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">comment</i><%= "Comment".pluralize(com_size) %> (<%= com_size %>)
         </button>
      <% else %>
         <button id="comments-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2" disabled>
          <i class="material-icons pr-1" style="vertical-align: text-bottom">comment</i><%= "Comment".pluralize(com_size) %> (<%= com_size %>)
         </button>
      <% end %>
      
      <% if fav_size != 0 and art_size == 0 and com_size == 0 %>
        <button id="favorites-button" type="button" class="btn btn-cat btn-sm btn-outline-info active mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">favorite</i><%= "Favorite".pluralize(fav_size) %> (<%= fav_size %>)
        </button>
      <% elsif fav_size != 0 %>
         <button id="favorites-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">favorite</i><%= "Favorite".pluralize(fav_size) %> (<%= fav_size %>)
        </button>
      <% else %>
         <button id="favorites-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2" disabled>
          <i class="material-icons pr-1" style="vertical-align: text-bottom">favorite</i><%= "Favorite".pluralize(fav_size) %> (<%= fav_size %>)
        </button>
      <% end %>
      
      <% if fol_size != 0 and art_size == 0 and com_size == 0 and fav_size == 0 %>
        <button id="following-button" type="button" class="btn btn-cat btn-sm btn-outline-info active mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">person_pin</i><%= "Following" %> (<%= fol_size %>)
        </button>
      <% elsif fol_size != 0 %>
        <button id="following-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">person_pin</i><%= "Following" %> (<%= fol_size %>)
        </button>
      <% else %>
        <button id="following-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2" disabled>
          <i class="material-icons pr-1" style="vertical-align: text-bottom">person_pin</i><%= "Following" %> (<%= fol_size %>)
        </button>
      <% end %>
      
      <% if followers_size != 0 and art_size == 0 and com_size == 0 and fav_size == 0 and fol_size == 0  %>
        <button id="followers-button" type="button" class="btn btn-cat btn-sm btn-outline-info active mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">recent_actors</i><%= "Followers" %> (<%= followers_size %>)
        </button>
      <% elsif followers_size != 0 %>
        <button id="followers-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2">
          <i class="material-icons pr-1" style="vertical-align: text-bottom">recent_actors</i><%= "Followers" %> (<%= followers_size %>)
        </button>
      <% else %>
        <button id="followers-button" type="button" class="btn btn-cat btn-sm btn-outline-info mr-2" disabled>
          <i class="material-icons pr-1" style="vertical-align: text-bottom">recent_actors</i><%= "Followers" %> (<%= followers_size %>)
        </button>
      <% end %>
    </div>
  <% end %>
  
  <!--ARTICLES-->
  <!--Necessary logic to hide hcard after the img is load-->
  <script>
    $(document).on('turbolinks:load', function() {
      $('#all-articles').delay(1).hide(0);
      $('#show-all-button').click(function(){
        $('#all-articles').css('visibility', 'visible');
        $('#all-articles').fadeIn(100);
      });
    });
  </script>
  <div id="articles">
    <% article_shown = 3 %>
    <% @articles.where(user_id: @user.id).order(:created_at).reverse_order.first(article_shown).each do |article| %>
      <%= render 'layouts/hcard_user_article', article: article %>
    <% end %>
    <% if @articles.where(user_id: @user.id).count > 3 %>
      <p>
        <button id="show-all-button" class="btn btn-sm btn-outline-primary">
          Show all
        </button>
      </p>
    <% end %>
    <div id="all-articles" style="visibility: hidden">
      <% @articles.where(user_id: @user.id).order(:created_at).reverse_order.drop(article_shown).each do |article| %>
        <%= render 'layouts/hcard_user_article', article: article %>
      <% end %>
    </div>
  </div>

  <!--COMMENTS-->
  <% if art_size == 0 %>
    <% d = "inline" %>
  <% else %>
    <% d = "none" %>
  <% end %>
  <div id="comments" style="display: <%= d %>">
    <% @comments.where(user_id: @user.id).order(:created_at).reverse_order.each do |comment| %>
      <%= render 'layouts/hcard_user_comment', comment: comment %>
    <% end %>
  </div>
  
  <!--FAVORITE ARTICLES-->
  <!--Necessary logic to hide hcard after the img is load-->
  <% if art_size == 0 and com_size == 0 %>
    <% d = "visible" %>
  <% else %>
    <% d = "hidden" %>
  <% end %>
  <script>
    $( document ).on('turbolinks:load', function() {
      if ("<%= d %>" == "hidden") {
        $('#favorites').delay(0).hide(0);
      }
    });
  </script>
  <div id="favorites" style="visibility: <%= d %>"> 
    <% @user.find_voted_items(:vote_scope => 'praise').reverse.each do |article| %>
      <%= render 'layouts/hcard_lg', article: article %>
    <% end %>
  </div>
  
  <!--FOLLOWING-->
  <% if art_size == 0 and com_size == 0 and fav_size == 0 %>
    <% d = "inline" %>
  <% else %>
    <% d = "none" %>
  <% end %>
  <div id="following" style="display: <%= d %>">
    <% @user.find_voted_items(:vote_scope => 'following').reverse.each do |user| %>
      <%= render 'users/profile', user: user, size: 60 %>
    <% end %>
  </div>
  
  <!--FOLLOWERS-->
  <% if art_size == 0 and com_size == 0 and fav_size == 0 and followers_size == 0 %>
    <% d = "inline" %>
  <% else %>
    <% d = "none" %>
  <% end %>
  <div id="followers" style="display: <%= d %>">
    <% @users.order(:full_name).reverse_order.each do |user| %>
      <% if user.liked? @user, vote_scope: 'following' %>
        <%= render 'users/profile', user: user, size: 60 %>
      <% end %>
    <% end %>
  </div>
</section> 