<div class="container" style="max-width: 1400px">
  <div class="d-flex align-items-center pt-4">
    <% author_avatar = User.find(@user) %>
    <% if author_avatar.avatar != nil %>
    <div class="pr-2">
      <%= image_tag(author_avatar.avatar.url(:thumb), class:"rounded-circle border border-secondary", style: "height: 120px; width: 120px;") %>
    </div>
    <% end %>
    <div>
      <h3 class="m-0"><%= @user.full_name %></h4>
      <div class="author-wp" style="font-size: 20px"><%= @user.headline %></div>
      <div class="author-wp" style="font-size: 20px"><%= @user.work_place %></div>
    </div>
  </div>
  <div>
    <div class="d-flex section-title align-items-center">
      <i class="material-icons md-48">developer_board</i>
      <div class=""> 
        <%#= pluralize(Article.where(user_id: @user.id).count, 'Publication') %> 
        <%= "PUBLICATION".pluralize(Article.where(user_id: @user.id).count) %> 
        (<%= Article.where(user_id: @user.id).count %>)
      </div>
    </div> 
    <% Article.where(user_id: @user.id).order(:created_at).reverse_order.each do |article| %>
      <%= render 'layouts/hcard_user_article', article: article %>
    <% end %>
  </div> 
</div> 