<div class="d-flex categories mx-auto" style="overflow: auto;" data-toggle="tooltip" data-placement="top" title="Hold Shift to Scroll">
  <% @categories = Category.all %>
  <% @categories.order(:name).first(20).each do |cat| %>
    <% next if cat.id.even? %>
    <div class="mx-auto">
      <% cat_icon = category_icon(Category.find(cat.id).name) %> <!--category_icon is a helper method inside application_helper-->
      <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
      <% if current_page?(category_path(cat.id)) %>
        <%= link_to category_path(cat.id), class:"btn btn-cat-jumbotron btn-outline-dark active" do %>
        <i class="<%= cat_icon %>" style="color:white; font-size: 14px;"></i>
        <small><%= Category.find(cat.id).name.upcase %></small>
        <% end %>
      <% else %>
        <%= link_to category_path(cat.id), class:"btn btn-cat-jumbotron btn-outline-dark" do %>
        <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>; font-size: 16px;"></i>
        <span style="font-size: 16px;"><%= Category.find(cat.id).name.upcase %></span>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="mx-auto">
    <%= link_to categories_path, class:"btn btn-cat-jumbotron btn-outline-dark" do %>
      <i class="fas fa-plus"></i>
      <span style="font-size: 16px;"><%= "MORE" %></span>
    <% end %>
  </div>
</div>