<%# if user_signed_in? %>
<!-- Do stuff if the user is logged --->
<%# end %>

<script>
  $(document).on('turbolinks:load', function() {
    
    if ($(window).innerWidth() > 580) {
      $(window).scroll(function() {
        var scroll = $(window).scrollTop() / $(window).height()*30;
        
        if (scroll > 0) {
          $('.jumbotron-bg').css({"transform" : "translate(0%,-" + scroll + "%)"});
        } else {
          $('.jumbotron-bg').css({"transform" : "translate(0%," + scroll + "%)"});
        }
      });
    }
  });

</script>

<% Article.offset(12).first(1).each do |article| %>
<section class="hero">
  <div class="jumbotron-bg" style="background: url(<%= article.thumbnail.url(:large) %>) center center; background-size: cover;"></div>
  <div class="jumbotron-overlay"></div>
  <div class="jumbotron jumbotron-fluid jumbotron-main mb-0 pb-0">
    <div class="container" style="max-width: 1400px">
      <h1 class="display-4">DISCOVER</h1>
      <hr class="my-2" style="border-color: white">
      <%= link_to article_path(article), class: "card-link" do %>
        <span class="jumbotron-title"><%= article.title %></span>
        <div class="d-flex">
          <span class="jumbotron-subtitle"><%= article.sub_title %></span>
        </div>
        <%= link_to "Read", article_path(article), class:"btn btn-sm btn-outline-light" %>
      <% end %>
      <br>
    </div>
  </div>
  <span id="categories" style="position: relative; top:-80px;"><%= render 'home/categories_jumbotron' %></span>
</section>
<% end %>

<section class="container-fluid" style="background: white">
  <section class="container" style="max-width: 1400px; padding-top: 50px;">
    <div class="d-flex section-title align-items-center">
      <i class="material-icons pr-1">stars</i>FEATURED
    </div>
    <div class="row" style="height: 100%">
      <div class="col-lg-4" style="padding: 10px">
        <% Article.order(:cached_scoped_praise_votes_total => :desc).first(1).each do |article| %>
          <%= render 'layouts/vcard_featured_full', article: article %>  
        <% end %>
      </div>
      <div class="col-md">
        <div class="row">
          <div class="col-sm" style="padding: 10px">
           <% Article.order(:cached_scoped_praise_votes_total => :desc).each do |article| %>
             <% if Article.offset((Date.today - Date.new(1970, 1, 1)).to_i % Article.count).first == article %>
              <%= render 'layouts/vcard_featured_compact', article: article %>  
              <% end %>
            <% end %>
          </div>
          <div class="col-sm" style="padding: 10px">
            <% Article.order(:cached_scoped_praise_votes_total => :desc).each do |article| %>
              <% if Article.offset((Date.today - Date.new(1971, 2, 1)).to_i % Article.count).first == article %>
                <%= render 'layouts/vcard_featured_compact', article: article %>  
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row p-0">
          <div class="col-sm" style="padding: 10px">
            <% Article.order(:cached_scoped_praise_votes_total => :desc).each do |article| %>
              <% if Article.offset((Date.today - Date.new(1972, 3, 1)).to_i % Article.count).first == article %>
                <%= render 'layouts/vcard_featured_compact', article: article %>  
              <% end %>
            <% end %>
          </div>
          <div class="col-sm" style="padding: 10px">
            <% Article.order(:cached_scoped_praise_votes_total => :desc).each do |article| %>
              <% if Article.offset((Date.today - Date.new(1973, 4, 2)).to_i % Article.count).first == article %>
                <%= render 'layouts/vcard_featured_compact', article: article %>  
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <br>
  
  <!--JUMBOTRON!-->
  <% unless user_signed_in? %>
    <div class="jumbotron jumbotron-fluid jumbotron-secondary p-4">
      <div class="container p-0" align="center">
        <h1 class="display-4">Your research meets the world</h1>
        <h3 class="lead">You are a scientist, an engineer or a student? Share your knowledge by writing engaging articles.</h3>
        <% if user_signed_in? %>
            <%= button_to "Start Writing", new_article_path, class: "btn btn-outline-light mt-4", :method => :get %>      
        <% else %>
            <%= button_to "Sign Up & Start Writing", new_user_registration_path, class: "btn btn-outline-light mt-4", :method => :get %>
        <% end %>
      </div>
    </div>
  <% end %>
  <!--JUMBOTRON!-->
  
  <!--FEED-->
  <section class="container" style="max-width: 1400px">
    <div class="row">
      <div class="col-md">
        <div class="d-flex section-title align-items-center">
          <i class="material-icons pr-1">new_releases</i>LASTEST
        </div>
        <% Article.order('created_at DESC').first(6).each do |article| %>
          <%= render 'layouts/hcard_sm', article: article, class:"mb-2" %>
        <% end %>
      </div>
      <div class="col-md-auto pl-0">
        <div class="d-flex section-title align-items-center pl-2">
          <i class="material-icons pr-1">apps</i>TOPICS
        </div>
        <% @categories = Category.all %>
        <% @categories.order(:name).each do |cat| %>
          <div class="p-1 form-inline">
            <% cat_icon = category_icon(Category.find(cat.id).name) %> <!--category_icon is a helper method inside application_helper-->
            <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
            <%= button_to category_path(cat.id), method: :get, class:"btn btn-cat btn-outline-dark" do %>
              <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
              <strong style="font-size: 16px"><%= Category.find(cat.id).name.upcase %></strong>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <!--FEED-->
</section>

<section class="container-fluid" style="background: #c6c6c6">
  <div class="container" style="max-width: 1400px">
    <div class="d-flex section-title align-items-center">
      <i class="mdi mdi-shape-outline pr-1"></i>THEME / 
      <% theme_tag = Tag.find_by_name("science") %>
      <%= theme_tag.name.capitalize %>
    </div>
    <div class="d-flex mx-auto" style="overflow: auto">
      <% Article.tagged_with("science").each do |theme_article| %>
        <div class="col-3 pb-4">
          <%= render 'layouts/vcard_trending', article: theme_article %>
        </div>
      <% end %>
    </div>
  </div>
</section>

    
<footer style="height: 150px; margin-top: 50px; padding-top: 50px; border-top: 1px solid Gainsboro; background-color: grey">(Footer1)</footer>
    
<footer style="height: 50px; padding-top: 50px; background-color: darkgrey">(Footer2)</footer>