<%# if user_signed_in? %>
<!-- Do stuff if the user is logged --->
<%# end %>

<section>
  <%= render 'home/categories' %>
</section>
<section class="container" style="max-width: 1400px">
  <div class="row section-title align-items-end pb-2">
    <div class="col-auto">FEATURED</div>
    <!--<div class="col section-title-sm">Whet Your Curiosity</div>-->
  </div>
  <div class="row" style="height: 100%">
    <div class="col-lg-4" style="padding: 10px">
      <% Article.order(:cached_scoped_praise_votes_total => :desc).first(1).each do |article| %>
        <%= render 'layouts/vcard_featured_full', article: article %>  
      <% end %>
    </div>
    <div class="col-md">
      <div class="row">
        <div class="col-sm" style="padding: 10px">
          <% Article.order(:cached_scoped_praise_votes_total => :desc).sample(1).each do |article| %>
            <%= render 'layouts/vcard_featured_compact', article: article %>  
          <% end %>
        </div>
        <div class="col-sm" style="padding: 10px">
          <% Article.order(:cached_scoped_praise_votes_total => :desc).sample(1).each do |article| %>
            <%= render 'layouts/vcard_featured_compact', article: article %>  
          <% end %>
        </div>
      </div>
      <div class="row p-0">
        <div class="col-sm" style="padding: 10px">
          <% Article.order(:cached_scoped_praise_votes_total => :desc).sample(1).each do |article| %>
            <%= render 'layouts/vcard_featured_compact', article: article %>  
          <% end %>
        </div>
        <div class="col-sm" style="padding: 10px">
          <% Article.order(:cached_scoped_praise_votes_total => :desc).sample(1).each do |article| %>
            <%= render 'layouts/vcard_featured_compact', article: article %>  
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<br>

<!--JUMBOTRON!-->
<% unless user_signed_in? %>
  <div class="jumbotron jumbotron-fluid p-4">
    <div class="container p-0" align="center">
      <h1 class="display-4">Your research meets the world</h1>
      <h3 class="lead">You are a scientist, an engineer or a student? Share your knowledge by writing engaging articles.</h3>
      <% if user_signed_in? %>
          <%= button_to "Start Writing", new_article_path, class: "btn btn-outline-light mt-4", :method => :get %>      
      <% else %>
          <%= button_to "Sign Up & Start Writing", new_user_registration_path, class: "btn btn-outline-light mt-4", :method => :get %>
      <% end %>
    </div>
  </div>
<% end %>
<!--JUMBOTRON!-->

<!--FEED-->
<section class="container" style="max-width: 1400px">
  <div class="row">
    <div class="col-md">
      <div class="row section-title align-items-end pb-3">
        <div class="col-auto">LATEST ARTICLES</div>
        <!--<div class="col section-title-sm">The State of the Art</div>-->
      </div>
      <% Article.order('created_at DESC').first(6).each do |article| %>
        <%= render 'layouts/hcard_sm', article: article, class:"mb-2" %>
      <% end %>
    </div>
    <div class="col-md-auto">
      <div class="row section-title align-items-end pb-3 pl-2">
        <div class="col-auto">TOPICS</div>
        <!--<div class="col section-title-sm">The State of the Art</div>-->
      </div>
      <% @categories = Category.all %>
      <% @categories.order(:name).each do |cat| %>
        <div class="p-1 form-inline">
          <% cat_icon = category_icon(Category.find(cat.id).name) %> <!--category_icon is a helper method inside application_helper-->
          <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
          <%= button_to category_path(cat.id), method: :get, class:"btn btn-cat btn-outline-dark" do %>
            <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
            <span class="author"><%= Category.find(cat.id).name %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!--FEED-->

<!--FEED BY CATEGORY-->
<div class="container" style="max-width: 1400px">
  <div class="row section-title align-items-end pb-3">
    <div class="col-auto">LATEST ARTICLES</div>
    <!--<div class="col section-title-sm">The State of the Art</div>-->
  </div>
  <div class="row justify-content-center">
    <% @categories = Category.all %>
    <% @categories.order(:name).each do |cat| %>
      <div class="col-lg-6">
        <div class="p-1 form-inline">
          <% cat_icon = category_icon(Category.find(cat.id).name) %> <!--category_icon is a helper method inside application_helper-->
          <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
          <%= button_to category_path(cat.id), method: :get, class:"btn btn-cat btn-outline-dark" do %>
          <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
          <strong><%= Category.find(cat.id).name %></strong>
          <% end %>
        </div>
      <% Article.where(category_id: cat.id).each do |article| %>
        <%= render 'layouts/hcard_sm', article: article %>
      <% end %>
      </div> 
    <% end %>
  </div>
</div>
<!--FEED BY CATEGORY-->