<nav id="navbar-example2" class="navbar fixed-bottom navbar-light navbar-white p-0">
  <ul class="nav nav-pills align-items-center mx-auto p-1">
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="A like Aerospace">
      <a class="nav-link p-2" href="#a" >A</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="B like Biology">
      <a class="nav-link p-2" href="#b">B</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="C like Cosmology">
      <a class="nav-link p-2" href="#c">C</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="E like Energy">
      <a class="nav-link p-2" href="#e">E</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="G like Geology">
      <a class="nav-link p-2" href="#g">G</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="H like Health">
      <a class="nav-link p-2" href="#h">H</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="M like Mathematics">
      <a class="nav-link p-2" href="#m">M</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="N like Nanotechnology">
      <a class="nav-link p-2" href="#n">N</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="P like Physics">
      <a class="nav-link p-2" href="#p">P</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="T like Technology">
      <a class="nav-link p-2" href="#t">T</i></a>
    </li>
    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Z like Zoology">
      <a class="nav-link p-2" href="#z">Z</i></a>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="max-width: 1400px; min-width: 320px">
  <div class="d-flex section-title align-items-center">
    <i class="material-icons md-36 p-1">apps</i>
    <div class="p-1">TOPICS</div>
  </div>
  <div class="row">
    <% @categories = Category.all %>
    <% @categories.order(:name).each do |cat| %>
    <div class="col-lg-4 col-md-6">
      <% scrollspy_id = set_scrollspy_id(Category.find(cat.id).name) %>
      <div class="card mb-4" id="<%= scrollspy_id %>">
        <div class="card-header p-2">
          <div class="row align-items-center">
            <div class="col-6">
              <% cat_icon = category_icon(Category.find(cat.id).name) %>  <!--category_icon is a helper method inside application_helper-->
              <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
              <%= link_to category_path(cat.id), class:"btn btn-cat btn-outline-dark" do %>
                <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
                <strong><%= Category.find(cat.id).name %></strong>
                <small>(<%= Article.where(category_id: cat.id).size %>)</small>
              <% end %>
            </div>
            <div class="col subscribing" align="right">
              <% if user_signed_in? %>
                <% if current_user.liked? cat, vote_scope: 'subscribe_category' %>
                  <%= link_to unsubscribe_category_path(cat), remote: true, id: "unsub_#{cat.id}", method: :put do %>
                    <i class="material-icons md-36">star</i>
                  <% end %>
                <% else %>
                  <%= link_to subscribe_category_path(cat), remote: true, id: "sub_#{cat.id}", method: :put do %>
                    <i class="material-icons md-36">star_border</i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to "", data: {toggle: "modal", target: "#modalSignup"} do %>
                  <i class="material-icons md-36">star_border</i>
                <% end %>
                <%= render 'layouts/modal_signup' %>
              <% end %>
            </div>
          </div>
        </div> 
        <% cat_img = category_img(Category.find(cat.id).name) %>
        <%= link_to image_tag(cat_img, class:"thumb-featured-sm img-fluid"), category_path(cat.id) %>
      </div>
    </div>
    <% end %>
  </div>
  
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Category', new_category_path, class:"btn btn-primary" %>
    
    <br></br>
    
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>id</th>
          <th>Articles</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @categories.order(:name).each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= category.id %></td>
            <td><%= Article.where(category_id: category.id).count %></td>        
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>