<div class="container-fluid" style="max-width: 1400px; min-width: 320px">
  <div class="d-flex section-title align-items-center">
    <i class="material-icons md-36 p-1">apps</i>
    <div class="p-1">TOPICS</div>
  </div>
  <div class="row">
    <% @categories = Category.all %>
    <% @categories.order(:name).each do |cat| %>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-header p-2">
          <div class="row align-items-center">
            <div class="col-6">
              <% cat_icon = category_icon(Category.find(cat.id).name) %>  <!--category_icon is a helper method inside application_helper-->
              <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
              <%= link_to category_path(cat.id), class:"btn btn-cat btn-outline-dark" do %>
                <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
                <strong><%= Category.find(cat.id).name %></strong>
                <small>(<%= Article.where(category_id: cat.id).size %>)</small>
              <% end %>
            </div>
            <div class="col subscribing" align="right">
              <% if user_signed_in? %>
                <% if current_user.liked? cat, vote_scope: 'subscribe_category' %>
                  <%= link_to unsubscribe_category_path(cat), remote: true, id: "unsub_#{cat.id}", method: :put do %>
                    <i class="material-icons md-36">star</i>
                  <% end %>
                <% else %>
                  <%= link_to subscribe_category_path(cat), remote: true, id: "sub_#{cat.id}", method: :put do %>
                    <i class="material-icons md-36">star_border</i>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to "", data: {toggle: "modal", target: "#modalSignup"} do %>
                  <i class="material-icons md-36">star_border</i>
                <% end %>
                <%= render 'layouts/modal_signup' %>
              <% end %>
            </div>
          </div>
        </div> 
        <div class="card-body p-0" style="height: 200px"> 
          <% cat_img = category_img(Category.find(cat.id).name) %>
          <%= link_to category_path(cat.id) do %>
            <div class="category-bg-card" style="background: url(<%= category_img(Category.find(cat.id).name) %>) center center; background-size: cover;"></div>
            <div class="category-overlay-card"></div>
            <div class="category-description-card p-2"><%= cat.description %></div> 
          <% end %>
        </div>
        <div class="card-footer p-2" style="background: transparent">
          <div class="date-sm">RELATED TOPICS</div>
          <% if related_tags_category(cat) != nil %>
            <%=raw tag_links(related_tags_category(cat)) %> <!-- Helper method present in categories_helper file -->
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  
  <br></br>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'New Category', new_category_path, class:"btn btn-primary" %>
    
    <br></br>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>id</th>
          <th>Articles</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @categories.order(:name).each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td><%= category.id %></td>
            <td><%= Article.where(category_id: category.id).count %></td>        
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>