<div class="container" style="max-width: 800px">

  <div class="d-flex section-title">
    <% cat_icon = category_icon(@category.name) %>  <!--category_icon is a helper method inside application_helper-->
    <% cat_icon_color = category_icon_color(@category.name) %> <!--category_icon_color is a helper method inside application_helper-->
    <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
    <div class="p-1"><%= @category.name %></div>
  </div>

  <p class="pt-0 pb-2"><%= @category.description %></p>
  
  <% Article.where(category_id: @category.id).each do |article| %>
    <%= render 'layouts/hcard_sm', article: article %>
  <% end %>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
      
</div>

