<!--Script for parallax effect on tablet and desktop-->
<script>
  $(document).on('turbolinks:load', function() {
    if ($(window).innerWidth() > 580) {
      $(window).scroll(function() {
        var scroll = $(window).scrollTop() / $(window).height()*30;
        if (scroll > 0) {
          $('.category-bg').css({"transform" : "translate(0%,-" + scroll + "%)"});
        } else {
          $('.category-bg').css({"transform" : "translate(0%," + scroll + "%)"});
        }
      });
    }
  });
</script>
<!--Script for parallax effect on tablet and desktop-->

<!--Hero-->
<div class="category-hero">
  <div class="category-bg" style="background: url(<%= category_img(Category.find(@category.id).name) %>) center center; background-size: cover;"></div>
  <div class="category-overlay"></div>
  <div class="category-title"><%= @category.name.upcase %></div>
  <div class="category-description"><%= @category.description %></div>
</div>
<!--Hero-->


<div class="container-fluid" style="background: white; padding-bottom: 200px">
  <div class="container" style="max-width: 1000px; min-height: 50vh; padding-top: 30px; background: white">
    <div class="row p-0">
      <div class="col-md-8 order-2 order-md-1 p-0">
      <% Article.where(category_id: @category.id).order('created_at DESC').first(5).each do |article| %>
        <%= render 'layouts/hcard_sm', article: article %>
      <% end %>
      </div>
      <div class="col-md-4 order-1 order-md-2 mb-3">
        <% if related_tags_category(@category) != nil %>
        <div class="date-sm mb-2">RELATED TAGS</div>
          <%=raw tag_buttons(related_tags_category(@category)) %>  <!-- Helper method present in categories_helper file -->
        <% end %>
      </div>
    </div> 
    <% if user_signed_in? && current_user.admin? %>      
      <%= link_to 'Edit Category', edit_category_path(@category), class:"btn btn-sm btn-outline-primary mb-2" %>
    <% end %>  
  </div>
</div>

