<div class="d-flex dragscroll pt-2 pb-2" style="overflow: auto;">
  <% @categories = Category.all %>
  <% @categories.order(:name).first(9).each do |cat| %>
    <div class="ml-auto mr-auto">
      <% cat_icon = category_icon(Category.find(cat.id).name) %> <!--category_icon is a helper method inside application_helper-->
      <% cat_icon_color = category_icon_color(Category.find(cat.id).name) %> <!--category_icon_color is a helper method inside application_helper-->
      <% if current_page?(category_path(cat.id)) %>
        <%= link_to category_path(cat.id), class:"btn btn-cat btn-outline-dark active" do %>
        <i class="<%= cat_icon %>" style="color:white"></i>
        <%= Category.find(cat.id).name %>
        <% end %>
      <% else %>
        <%= link_to category_path(cat.id), class:"btn btn-cat btn-outline-dark" do %>
        <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
        <%= Category.find(cat.id).name %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="ml-auto mr-auto">
    <%= link_to categories_path, class:"btn btn-cat btn-outline-dark" do %>
      <i class="fas fa-plus"></i>
      <%= "More" %>
    <% end %>
  </div>
</div>