<script>
  $(document).ready(function() {
    // Set the height of the col containing the thumbnail to the height of the card body (flex-column)
    if($(window).innerWidth() > 768) {
      $('#hcard-sm-img-<%= article.id %>')[0].style.height = $('#hcard-sm-body-<%= article.id %>').height() + 'px';
    }
    // Dynamicaly change the height of the col depending of the window width
    var width = $(window).width();
    $(window).on('resize', function() {
      if ($(this).width() != width) {
        width = $(this).width();
      }
      if(width > 768) {
        $('#hcard-sm-img-<%= article.id %>')[0].style.height = $('#hcard-sm-body-<%= article.id %>').height() + 'px';
      }
      else {
        $('#hcard-sm-img-<%= article.id %>')[0].style.height = "150px";
      }
    });
  });
</script>

<div class="card mb-3">
  <div class="row">
    <div id="hcard-sm-img-<%= article.id %>" class="col-md p-0">
      <%= link_to image_tag(article.thumbnail.url(:large), class:"thumb-featured-lg img-fluid"), article_path(article) %>
    </div>
    <div class="col-md-8">
      <div id="hcard-sm-body-<%= article.id %>" class="d-flex flex-column">
        <div class="form-inline p-2">
          <div class="date-sm">
            <i class="far fa-clock"></i>
            <%= article.created_at.strftime("%B %d, %Y") %> -
            <% cat_icon = category_icon(Category.find(article.category_id).name) %>
            <% cat_icon_color = category_icon_color(Category.find(article.category_id).name) %>
            <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
            <%= link_to Category.find(article.category_id).name, category_path(article.category_id) %>
            <% if user_signed_in? && current_user.id == article.user_id %>
              | <%= link_to "Edit", edit_article_path(article) %>
            <% end %>
          </div>
          <div class="bm-icon-cat ml-auto">
            <%= render 'layouts/bookmark', article: article %>
          </div>    
        </div>  
        <div class="d-flex flex-column p-2">
          <%= link_to article_path(article), class: "card-link" do %>
            <div class="card-title"><%= article.title %></div>
            <div class="card-subtitle"><%= article.sub_title %></div>
          <% end %>
        </div>
        <div class="card-article-body p-2 mb-2">
          <%= truncate strip_tags(article.body), length: 250 %>
          <%= link_to 'Read more', article_path(article) %> 
        </div>
        <div class="d-flex align-items-center pt-2">
          <div class="ml-auto p-2">
            <i class="fas fa-heart" data-toggle="tooltip" data-placement="top" title="Likes"></i>
            <small class="pr-2 vote-count"><%= article.find_votes_for(:vote_scope => 'praise').size.to_s %></small>
            <i class="fas fa-comment-alt" data-toggle="tooltip" data-placement="top" title="Comments"></i>
            <small class="pr-2 vote-count"><%= comment_count(article) %></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>