<script>
  $(document).ready(function() {
    // Set the height of the col containing the thumbnail to the height of the card body (flex-column)
    if($(window).innerWidth() > 768) {
      $('#hcard-sm-img-<%= article.id %>')[0].style.height = $('#hcard-sm-body-<%= article.id %>').height() + 'px';
    }
    // Dynamicaly change the height of the col depending of the window width
    var width = $(window).width();
    $(window).on('resize', function() {
      if ($(this).width() != width) {
        width = $(this).width();
      }
      if(width > 768) {
        $('#hcard-sm-img-<%= article.id %>')[0].style.height = $('#hcard-sm-body-<%= article.id %>').height() + 'px';
      }
      else {
        $('#hcard-sm-img-<%= article.id %>')[0].style.height = "150px";
      }
    });
  });
</script>

<div class="card mb-3" style="min-width: 100%;">
  <div class="row">
    <div id="hcard-sm-img-<%= article.id %>" class="col-lg-4 p-0" style="">
      <%= link_to image_tag(article.thumbnail.url(:large), class:"thumb-featured-lg img-fluid"), article_path(article) %>
    </div>
    <div class="col-lg">
      <div id="hcard-sm-body-<%= article.id %>" class="d-flex flex-column">
        <div class="form-inline p-2">
          <div class="date-sm">
            <i class="far fa-clock"></i>
            <%= article.created_at.strftime("%B %d, %Y") %> -
            <% cat_icon = category_icon(Category.find(article.category_id).name) %>
            <% cat_icon_color = category_icon_color(Category.find(article.category_id).name) %>
            <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
            <%= link_to Category.find(article.category_id).name, category_path(article.category_id) %>
            <% if user_signed_in? && current_user.id == article.user_id %>
              | <%= link_to "Edit", edit_article_path(article) %>
            <% end %>
          </div>
          <div class="bm-icon-cat ml-auto">
            <%= render 'layouts/bookmark', article: article %>
          </div>    
        </div>  
        <div class="d-flex flex-column p-2">
          <%= link_to article_path(article), class: "card-link" do %>
            <div class="card-title"><%= article.title %></div>
            <div class="card-subtitle"><%= article.sub_title %></div>
          <% end %>
        </div>
        <div class="d-flex flex-row align-items-center pt-2">
          <div class="p-2">
            <% author = User.find_by(id: article.user_id) %>
            <%= link_to user_path(article.user_id, full_name: author.full_name) do %>
              <%= render 'layouts/user_avatar', user: author, size: 60 %>
            <% end %>
          </div>
          <div class="align-items-middle">
            <div><%= link_to author.full_name, user_path(article.user_id, full_name: author.full_name), class:"author" %></div>
            <p class="author-wp"><%= author.work_place %></p>
          </div>
          <div class="ml-auto p-2">
            <div class="d-flex align-items-center">
              <small class="pr-2 vote-count"><%= article.find_votes_for(:vote_scope => 'praise').size.to_s %></small>
              <i class="mdi mdi-arrow-up-bold-box-outline md-24 blue" data-toggle="tooltip" data-placement="top" title="Upvotes"></i>
            </div>
            <div class="d-flex align-items-center">
              <small class="pr-2 vote-count"><%= comment_count(article) %></small>
              <i class="mdi mdi-comment-text-outline md-24 grey" data-toggle="tooltip" data-placement="top" title="Comments"></i>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>