<div class="card mb-2">
  <div class="card-header p-2">
    <% commenter = User.find_by(id: comment.user_id) %>
    <% if commenter != nil %> 
      <div class="d-flex flex-row p-0 align-items-center">
        <div class="pr-2 align-items-center"><%= render 'layouts/user_avatar', user: commenter, size: 40 %></div>
        <div class="d-flex flex-column">
          <%= link_to commenter.full_name, user_path(comment.user_id, full_name: commenter.full_name), class:"author" %>
          <div class="date-sm"><i class="far fa-clock pr-1" style="color: grey"></i><%= time_ago_in_words(comment.created_at) %> ago</div>
        </div>
        <div class="ml-auto">
          <%= render 'layouts/bookmark_comment', comment: comment %>
        </div>
      </div>
    <% end %> 
  </div>
  <div class="card-body">
    <div class="d-flex flex-column p-2">
      <% article = Article.find(comment.article_id) %>
      <%= link_to article_path(article), class: "card-link" do %>
        <div class="card-comment-body">
          <%= comment.body %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer bg-transparent p-2">
    <%= link_to article_path(article) do %>
      <div class="d-flex align-items-center pb-1" style="font-size: 0.8em; font-weight: bold; color: black">
        <i class="material-icons pr-2">description</i>
        <%= Article.find(comment.article_id).title %>
      </div>
    <% end %>
    <div class="form-inline align-items-center author-sm text-muted">
      <i class="far fa-clock p-1">&nbsp</i>
      <%= time_ago_in_words(article.created_at) %> ago in
      <% cat_icon = category_icon(Category.find(article.category_id).name) %>
      <% cat_icon_color = category_icon_color(Category.find(article.category_id).name) %>
      <div>&nbsp<i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>">&nbsp</i></div>
      <%= link_to Category.find(article.category_id).name, category_path(article.category_id) %>
    </div>
  </div>
</div>