<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light ">
  <div class="container">
    <%= link_to "Agora", root_path, class: "navbar-brand navbar-brand mb-0 h1" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
  
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Article, author..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

        <ul class="nav navbar-nav ml-auto">
          <%= link_to "All Articles", articles_path, class: "nav-link" %>
        </ul>
        
        <ul class="nav navbar-nav ml-auto">
          <%= link_to "All Bookmarks", bookmarks_path, class: "nav-link" %>
        </ul>
      </form>

      <ul class="nav navbar-nav ml-auto">
        <% if user_signed_in? %>
        
          <li class="nav-item">
          <%= link_to "Collection", bookmarks_path, class: "nav-link" %>
          </li>
          
          <li class="nav-item">
          <%= link_to "Write an Article", new_article_path, class: "nav-link" %>
          </li>
          
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item"  %>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          </li>
  
        <% else %>
  
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        
        <% end %>
        </ul>
    </div>
  </div>
</nav>