<div class="card card-featured mb-2">
  <%= link_to image_tag(article.thumbnail.url(:large), class:"thumb-featured-lg img-fluid"), article_path(article) %>
  <div class="card-body">
    <div class="row">
      <div class="col date-sm">
        <i class="far fa-clock"></i>
        <%= article.created_at.strftime("%b %d") %> - 
        <% cat_icon = category_icon(Category.find(article.category_id).name) %>
        <% cat_icon_color = category_icon_color(Category.find(article.category_id).name) %>
        <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
        <%= link_to Category.find(article.category_id).name, category_path(article.category_id), class:"link" %>
        <% if user_signed_in? && current_user.id == article.user_id %>
          | <%= link_to "Edit", edit_article_path(article), class:"link" %>
        <% end %>
      </div>
      <%#= article.cached_votes_total %>
      <div class="col-2" align="right">
        <%= render 'layouts/bookmark', article: article %>
      </div> 
    </div>
    <%= link_to article_path(article), class: "card-link" do %>
    <strong class="d-flex card-title"><%= article.title %></strong>
    <small class="d-flex card-subtitle"><%= article.sub_title %></small>
    <% end %>
  </div>
  <div class="card-footer bg-transparent">
    <div class="d-flex align-items-center">
      <% @user = User.find_by(id: article.user_id) %>
      <%= render "articles/author", size: 60 %>
    </div>
  </div>
</div>