<div class="card card-featured mb-2">
  <%= link_to image_tag(article.thumbnail.url(:large), class:"thumb-featured-lg img-fluid"), article_path(article) %>
  <div class="card-body">
    <div class="row">
      <small class="col text-muted">
        <i class="far fa-clock"></i>
        <%= article.created_at.strftime("%b %d") %> - 
        <% cat_icon = category_icon(Category.find(article.category_id).name) %>
        <% cat_icon_color = category_icon_color(Category.find(article.category_id).name) %>
        <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
        <%= link_to Category.find(article.category_id).name, category_path(article.category_id) %>
        <% if user_signed_in? && current_user.id == article.user_id %>
          | <%= link_to "Edit", edit_article_path(article) %>
        <% end %>
      </small>
      <%#= article.cached_votes_total %>
      <div class="col-2" align="right">
        <%= render 'layouts/bookmark', article: article %>
      </div> 
    </div>
    <%= link_to article_path(article), class: "card-link" do %>
    <strong class="d-flex card-title"><%= article.title %></strong>
    <small class="d-flex card-subtitle"><%= article.sub_title %></small>
    <% end %>
  </div>
  <div class="card-footer bg-transparent">
    <div class="d-flex align-items-center">
      <% author = User.find_by(id: article.user_id) %>
      <% if author.avatar != nil %>
      <div class="pr-2">
        <%= link_to user_path(article.user_id, full_name: author.full_name) do %>
          <%= image_tag(author.avatar.url(:thumb), class:"rounded-circle border border-secondary", style: "height: 60px; width: 60px;") %>
        <% end %>
      </div>
      <% end %>
      <div>
        <div><%= link_to author.full_name, user_path(article.user_id, full_name: author.full_name), class:"author" %></div>
        <p class="author-wp"><%= author.work_place %></p>
      </div>
    </div>
  </div>
</div>