<div class="card" style="height: 100%">
  <%= link_to image_tag("//placehold.it/720x350", class:"img-fluid"), article_path(article) %>
  <div class="card-body pb-0">
    <div class="row">
      <small class="col text-muted">
        <i class="far fa-clock"></i>
        <%= time_ago_in_words(article.created_at) %> ago - 
        <% cat_icon = category_icon(Category.find(article.category_id).name) %>
        <% cat_icon_color = category_icon_color(Category.find(article.category_id).name) %>
        <i class="<%= cat_icon %>" style="color:<%= cat_icon_color %>"></i>
        <%= link_to Category.find(article.category_id).name, category_path(article.category_id) %>
        <% if user_signed_in? && current_user.id == article.user_id %>
          | <%= link_to "Edit", edit_article_path(article) %>
        <% end %>
      </small>
      <%#= article.cached_votes_total %>
      <div class="col-2 bookmarking" align="right">
        <%= render 'layouts/bookmark', article: article %>
      </div> 
    </div>
    <%= link_to article_path(article), class: "card-link" do %>
      <strong class="d-flex card-title"><%= article.title %></strong>
      <small class="d-flex card-subtitle"><%= article.sub_title %></small>
    <% end %>
        <div class="card-article-body">
        <%= truncate strip_tags(article.body), length: 200 %>
        <%= link_to 'Read more', article_path(article) %> 
      </div>
  </div>
  
  <div class="d-flex flex-row justify-content-end p-2">
    <div class="">
      <i class="fas fa-heart"></i>
      <small class="pr-2 vote-count"><%= article.find_votes_for(:vote_scope => 'praise').size.to_s %></small>
    </div>
    <div class="">
      <i class="fas fa-comment-alt"></i>
      <small class="pr-2 vote-count"><%= article.comments_count %></small>
    </div> 
  </div>
  <div class="card-footer bg-transparent">
    <div class="form-inline">
      <% author = User.find(article.user_id) %>
      <% if author.avatar != nil %>
      <div class="pr-2">
        <%= link_to user_path(article.user_id, full_name: author.full_name) do %>
          <%= image_tag(author.avatar.url(:thumb), class:"rounded-circle border border-secondary", style: "height: 60px; width: 60px;") %>
        <% end %>
      </div>
      <% end %>
      <div class="align-items-middle">
        <div><%= link_to author.full_name, user_path(article.user_id, full_name: author.full_name), class:"author" %></div>
        <p class="author-wp"><%= author.work_place %></p>
      </div>
    </div>
  </div>
</div>