<!doctype html>
<html class="container-fluid p-0" lang="en">
  <head>
    <title>Agora</title>
    <!-- Required JS for Destroy handling and such -->
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link href="//cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css
" media="all" rel="stylesheet" type="text/css" />
    <!-- Academicons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- tinyMCE assets --> 
    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Vollkorn" rel="stylesheet">
  </head>

  <body data-spy="scroll">
  <%= render 'layouts/navbar' %>

    <div class="container text-center fixed-top" style="max-width:800px; margin-top: 80px">
      <% if flash[:notice] %>
        <%= content_tag :div, class: "alert alert-success" do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        <% end %>
      <% end %>
      <% if flash[:alert] %>
        <%= content_tag :div, class: "alert alert-danger" do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        <% end %>
      <% end %>
    </div>
  
    <%= yield %>
    
    <footer style="height: 150px; padding-top: 50px; border-top: 1px solid Gainsboro; background-color: #f9fafa">
      <div class="container" style="max-width: 800px">
        <%= link_to "About", about_path, class:"footer-link" %>
      </div>
    </footer>
    <footer style="height: 50px; padding-top: 20px; background-color: darkgrey">(Footer2)</footer>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2.1/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
      });
    </script>
  </body>
  
  
  
</html>